---
permalink: /debug/
---
news length: {{ news | length }}
news first: {{ news[0].headline if news else "UNDEFINED" }}
research length: {{ research | length }}
publist length: {{ publist | length }}
