<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          &copy; 2024 iVizlab - - - - - - - - - - - - - - - - - - - - -
          <p>We are part of the <a href="https://www.sfu.ca/siat.html">School of Interactive Art and Tech</a> at <a href="https://www.sfu.ca/">Simon Fraser University</a>.</p>
          <p>Site made with <a href="https://www.11ty.dev">Eleventy</a>; <a href="/aboutwebsite.html">copy and modify.</a></p>
        </div>
        <div class="col-sm-4">
          <a href="/media">Lab Pix and Media</a> - - - - - - - - - - - -<br>
          Contact: <a href="/dipaola/">Steve DiPaola</a><br>
          Simon Fraser University<br>
          Surrey, BC, Canada V3T 0A3<br>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
